.redirects {
    text-align: right;
}

.search-bar {
    text-align: center;
}

.search-text {
    border-radius: 25px;
    border: 2px solid;
    width: 50%;
    height: auto;
}

#submit {
    color: white;
    background-color: #4d90fe;
    box-shadow: inset;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
}

#advanced-search {
  margin: 20px;
  padding:10px;
}

label {
    display: inline-block;
    width: 250px;
}
